include head.pug
div(class="content")
    div(class="nav")
        a(href="/")
            button(class="nav-button btn btn-sm btn-primary") home
    div(id="archive")
        each item, index in [...data.sortedComics].reverse()
            div(class="tile")
                a(href="/?comic=" + ((data.sortedComics.length - 1) - index))
                    p #{item.title} - #{item.date}