div(class="footer")
    p Presented by
        a(href="https://danielrigberg.com", target="_blank")  Daniel Rigberg
    a(href="https://github.com/drigberg/webcomic_lite", target="_blank")
        p Website source code (feel free to use!)
