head
    title Mechanical Beeswax
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,900")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css", integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    div(class="header")
        a(href="/")
            image(class="icon", src="/assets/icon.png")
        h1(id="page-title") Mechanical Beeswax
        h4(id="page-subtitle")
            em Updates sometimes