include head.pug
div(class="content")
    div(class="nav")
        a(href="/?comic=0")
            button(class="nav-button btn btn-lg btn-primary") first
        a(href="/?comic=" + data.previousIndex)
            button(class="nav-button btn btn-lg btn-primary") prev
        a(href="/?comic=" + data.nextIndex)
            button(class="nav-button btn btn-lg btn-primary") next
        a(href="/" + data.lastIndex)
            button(class="nav-button btn btn-lg btn-primary") last
        a(href="/archive")
            button(class="nav-button btn btn-lg btn-primary") archive
    div(id="comic-div")
        img(
            id="comic-image",
            src="/assets/comics/images/" + data.comicData.filename,
            title=data.comicData.hoverText)
        p Date: #{data.comicData.date}
